<div class="h-fit rounded-xl bg-slate-50 p-4 shadow-lg">
  <ng-container *ngIf="sentiment$ | async as sentiment; else loading">
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <span class="flex h-fit w-fit items-center justify-center rounded-full bg-purple-400 px-2 text-xs text-white">{{ sentiment.symbol }}</span>
        <span class="text-xl text-slate-600">{{ sentiment.name }}</span>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-2 divide-x divide-slate-300">
      <div *ngFor="let data of sentiment.data" class="flex flex-col gap-2 p-2 w-full">
        <div class="flex items-center justify-between">
          <span>{{ data.month | month}} {{ data.year }}</span>
          <div *ngIf="(data.change || 0) > 0">
            <img class="up-color" src="assets/icons/trending_up.svg" />
          </div>
          <div *ngIf="(data.change || 0) < 0">
            <img class="down-color" src="assets/icons/trending_down.svg" />
          </div>
        </div>
        <div class="flex gap-4">
          <div class="flex flex-col">
            <span class="font-bold">Change</span>
            <span>{{(data.change || 0) > 0 ? '+' : ''}}{{ data.change }}</span>
          </div>
          <div class="flex flex-col">
            <span class="font-bold">MSPR</span>
            <span>{{ data.mspr | number:'1.2-2' }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>Loading...</ng-template>
</div>
